.link {
    color: black;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
    &:hover {
        color: #7e7a7a;
    }
    &:active {
        color: #8a8a8a;
    }
}

.starIcon {
    height: 25px;
    cursor: pointer;
}

.userTag {
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px 30px;
    font-size: 20px;
}

.button {
    padding: 5px 10px;
    border-radius: 7px;
    border: $border;
    background: none;
    cursor: pointer;
    transition: .2s;
    &.button_edit {
        background: none;
        border: 2px solid coral;
        &:hover {
            color: white;
            background: coral;
        }
    }&.button_submit {
         background: none;
         border: 2px solid $green;
         &:hover {
             color: white;
             background: $green;
         }
     }
}

.icon {
    &.icon_light {
        filter: invert(100%);
    }
}

.burgerMenu {
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    .row {
        content: "";
        height: 3px;
        width: 25px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 5px gray;
        transition: .3s;
    }
    &.burgerMenu_show .row {
        width: 30px;
        background-color: black !important;
        box-shadow: none;
        &:first-child {
            transform: rotate(45deg);
            transform-origin: top left;
        }
        &:nth-child(2) {
            transition: all 100ms ease-in-out;
            width: 0;
        }
        &:last-child {
            transform: rotate(-45deg);
            transform-origin: bottom left;
        }
    }
}