.link {
    color: black;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
    &:hover {
        color: $background;
    }
    &:active {
        color: gray;
    }
}

.starIcon {
    height: 25px;
    cursor: pointer;
}